body {
    font-family: Sono;
    font-weight: 500;
}

#menu-bar,
#hero-banner {
    background-color: #1f2937;
    color: #fff;
    padding: 25px 0px;
}

#menu-bar a {
    color: #fff;
    text-decoration: none;
}

#hero-banner h1 {
    font-weight: 700;
}

#hero-banner a {
    color: #fff;
    text-decoration: none;
    background-color: #3882f6;
    border-radius: 5px;
    padding: 5px 15px;
}

#hero-banner img {
    border-radius: 5px;
}

#menu-bar .container {
    display: flex;
    gap: 50px;
}

#menu-bar .logo-home {
    margin-right: auto;
}

#hero-banner .row {
    display: flex;
    align-items: center;
}

#box-section {
    padding-top: 50px;
}

#box-section .container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.box-item {
    text-align: center;
}

.box-item img {
    max-width: 100%;
    border-radius: 15px;
}

#quote-section {
    background-color: #e5e7eb;
    padding: 100px 0;
}

#quote-section .quote-text {
    font-size: 28px;
    font-style: italic;
}

#quote-section .quote-attr {
    font-size: 24px;
    float: right;
}

#cta-section {
    padding: 50px 0;
}

#cta-section .flex-row {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: #3882f6;
    padding: 25px;
    color: #fff;
    border-radius: 25px;
}

.button-div {
    flex-basis: 200px;
}

.button-div a {
    border: solid #fff 2px;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #e5e7eb;
    padding: 50px 0px;
}

footer .copyright-text {
    text-align: center;
}